# ───────────────────────────────────────────────
# Compiled Output
# ───────────────────────────────────────────────
/dist
/build
/node_modules

# ───────────────────────────────────────────────
# Dependency Lock Files
# ───────────────────────────────────────────────
pnpm-lock.yaml
package-lock.json
yarn.lock

# ───────────────────────────────────────────────
# Logs
# ───────────────────────────────────────────────
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# ───────────────────────────────────────────────
# OS-specific Files
# ───────────────────────────────────────────────
.DS_Store

# ───────────────────────────────────────────────
# Testing
# ───────────────────────────────────────────────
/coverage
/.nyc_output

# ───────────────────────────────────────────────
# IDEs and Editors
# ───────────────────────────────────────────────
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode Settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ───────────────────────────────────────────────
# Environment Variables
# ───────────────────────────────────────────────
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ───────────────────────────────────────────────
# Temp Files
# ───────────────────────────────────────────────
.temp
.tmp

# ───────────────────────────────────────────────
# Runtime Data
# ───────────────────────────────────────────────
pids
*.pid
*.seed
*.pid.lock

# ───────────────────────────────────────────────
# Diagnostic Reports
# ───────────────────────────────────────────────
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
